@import url('https://slippinggittys-discord-Themes.github.io/Espresso-Discord-Theme/themes/source.css');
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css");
@import url("https://slippinggitty-s-discord-things.github.io/Discord-MaterialSymbols-Icons/producticons.theme.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');

::placeholder, body, button, input, select, textarea {
font-family: 'Comfortaa' ;
}

body {
  background-image: url("https://files.catbox.moe/tmem5v.jpg") ; /* Replace this URL with one that points to your desired background image */
  background-size: cover;
 }

:root {
  --PGBackgroundD: rgb(0,0,0, 0.300);
  --PGBackground2D: rgb(0,0,0, 0.400);
  --PGBackground3D: rgb(0,0,0, 0.5);
  --PGTextBackgroundD: rgb(0,0,0, 0.300);
  --PGColorTextD: rgb(255, 248, 235);
  --accentD: rgb(2, 177, 159);
  --accent-hoverD: rgba(3, 218, 197, 0.977);
  --accent-selectedD: rgba(3, 218, 197, 0.612);
  --accent-focusedD: rgb(3, 218, 197, 0.200);
}


/* Extra garbage that makes this theme look nicer, feel free to ignore or edit idfc */

.theme-dark .name-28HaxV {
  color: var(--accent-selectedD)
}
.theme-dark .contentWrapper-3vHNP2, .theme-dark .popout-3gby1q, .theme-dark .drawerSizingWrapper-1txdWG, .theme-dark .quickswitcher-pKcM9U {
    background-color: var(--PGBackground3D)
}
.theme-dark .panels-3wFtMD {
  border-radius: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
