@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');

::placeholder, body, button, input, select, textarea {
font-family: 'Comfortaa' ;
}
#app-mount {
    background-image: var(--bg-image) !important;
    background-repeat: none;
    background-position: center;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-image: var(--bg-image);
    filter: blur( var(--bg-blur) ) opacity( var(--bg-opacity) );
}
#app-mount, [class*="sidebar-"] + div {
    background: none !important;
}
:root{
    --bg-image: url(https://i.imgur.com/kySAcZt.jpg);
    --background-primary: none;
    --background-secondary: none;
    --background-secondary-alt: none;
    --background-tertiary: #21212144;
    --background-message-hover: none;
    --bg-blur: 30px;
    --bg-opacity: 1.0;
    --HSL-server-icon-size: 55px;
    --HSL-server-spacing: 5px;
}
