@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');

::placeholder, body, button, input, select, textarea {
font-family: 'Comfortaa' ;
}

:root{
    --bg-image: url(https://i.imgur.com/kySAcZt.jpg);
    --HSL-server-icon-size: 55px;
    --HSL-server-spacing: 5px;
    --background-primary: rgba(29, 28, 28, 0);
    --background-secondary: rgba(0, 0, 0, 0.089);
    --background-tertiary: transparent;
    --background-accent: ttransparent;
    --background-floating: transparent;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-image: var(--bg-image);
    filter: blur(30px);
}

.panels-3wFtMD, .scrollableContainer-15eg7h {
  background-color: transparent;
}
