@import url("https://mrtipson.github.io/DiscordCSS/css/server-bar.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

::placeholder, body, button, input, select, textarea {
font-family: 'Comfortaa' ;
}

:root{
--background-secondary: transparent;
--main-app-transparency:rgba(0, 0, 0, 0.634);
--main-app-blur:blur(0px);
/*Default Blur:10px; Recommended Blur: 10px-60px;*/
--main-bg-image: url(https://wallpapercave.com/wp/wp10776123.jpg);
}
/*Change `link here` to desired image*/
/*Image in screenshot `https://cdn.mos.cms.futurecdn.net/VYL4qGFcAUvq4G9sFNExDB.jpg`*/


.sidebar-1tnWFu, .chat-2ZfjoI, .container-ZMc96U.themed-Hp1KC_, .container-2o3qEW, .nowPlayingColumn-1eCBCN, .sidebarRegionScroller-FXiQOh, .contentRegion-3HkfJJ, .content-1jQy2l, .uploadArea-2Nu_Vc, .content-1SgpWY, .channelName-3w2Y3c, .container-3XgAHv{background:transparent}

.app-2CXKsg, .bg-1QIAus, .wrapper-1_HaEi, .container-1NXEtd, .members-3WRCEx, .members-3WRCEx>div, .scroller-WSmht3, .privateChannels-oVe7HL, .theme-dark .container-2cd8Mz, .container-1oAagU, .scroller-29cQFV, .applicationStore-2nk7Lo, .standardSidebarView-E9Pc3j, .layer-86YKbF, .contentRegionScroller-2_GT_N, .scroller-3X7KbA, .panels-3wFtMD, .searchResultsWrap-5RVOkx, .searchResult-O9NDji{background-color: transparent;}

body{
background:var(--main-bg-image);
background-position: cover;
background-repeat: no-repeat;
background-size: 111%;
}
#app-mount{
background-color:var(--main-app-transparency)!important;
backdrop-filter: var(--main-app-blur);

}
.header-3OsQeK, .searchBar-3TnChZ{box-shadow: none;}
.scroller-hE2gWq{border-left:unset;}
.children-3xh0VB:after, .form-3gdLxP:before, .content-1jQy2l:before, .tabBody-2dgbAs:before, .headerBar-1dSpQr:before, .chat-1rZYgu:before, .chat-1-OBC7:before{display: none;}


/* fixes */
.theme-dark, .theme-light {
    --background-primary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent;
    --background-message-hover: transparent;
}

.panels-3wFtMD {
      margin-right: 5px;
      margin-bottom: 20px;
      margin-left: 5px;
      border: 1px solid #3a3f45;
      border-radius: 20px;
      box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
}


.theme-dark .scrollableContainer-15eg7h {
    background: transparent;
    border: 1px solid #3a3f45;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
}
